# Answer 1:
Q1. List any five functions of the pandas library with execution.

Five function of the panda library , often imported as "pd"are:
1. pd.read_csv()
2. pd.Dataframe()
3. pd.groupby()
4. pd.merge()
5. pd.plot()

1. pd.read_csv(): This function is used to read data from a CSV (Comma Separated Values) file and create a DataFrame. It allows you to load data into pandas for further analysis and manipulation.

2. pd.DataFrame(): This is a constructor function to create a DataFrame from various data structures like lists, dictionaries, arrays, etc.

3. pd.groupby(): This function is used for grouping data based on one or more columns and then applying aggregate functions on the grouped data.

4. pd.groupby(): This function is used for grouping data based on one or more columns and then applying aggregate functions on the grouped data.

5. pd.plot(): This function provides a quick and easy way to create basic plots using pandas' built-in plotting capabilities.

In [6]:
import pandas as pd
#df = pd.read_csv('file_name')
# Create a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)

In [7]:
df

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [8]:
# Group data by the 'Category' column and find the mean of the 'Value' column for each group
#grouped_data = df.groupby('Category')['Value'].mean()

In [9]:
# Merge two DataFrames based on the 'ID' column
#merged_df = pd.merge(df1, df2, on='ID')

In [10]:
# Create a line plot of the 'values' column in the DataFrame
#df['values'].plot(kind='line')

# Answer 2:
Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [13]:
def reindex_with_new_index(df):
    # Reset the existing index to default integer index
    df.reset_index(drop=True, inplace=True)
    
    # Create a new index starting from 1 and incrementing by 2
    new_index = pd.Series(range(1, 2 * len(df) + 1, 2))
    
    # Set the new index to the DataFrame
    df.index = new_index
    
    return df
df = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]})
new_df = reindex_with_new_index(df)
new_df

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

# Answer 3:
You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [33]:
def sum_three(df):
    # get the first three number of the 'values' column
    sum_of_three=df['values'].head(3)
    # calculate the sum of first three numbers
    a=sum_of_three.sum()
    # print the sum of first three numbers
    print("Sum of three number:",a)
df=pd.DataFrame({'values':[10,20,30,40,50]})
sum_three(df)

Sum of three number: 60

In [34]:
def sum_three(df):
    # get the first three number of the 'values' column
    sum_of_three=df[0:3].sum()
    # print the sum of first three numbers
    print("Sum of three number:",sum_of_three)
df=pd.DataFrame({'values':[10,20,30,40,50]})
sum_three(df)

Sum of three number: values    60
dtype: int64

# Answer 4:
Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [57]:
def count_words_in_text(df):
    # Define a function to count words in a text
    def word_count(text):
        return len(str(text).split())

    # Apply the word_count function to the 'Text' column and create a new 'Word_Count' column
    df['Word_Count'] = df['Text'].apply(word_count)

    return df
df=pd.DataFrame({'Text':['My name is Ujjwal','My brothers name is sajal','mann']})
df = count_words_in_text(df)
df

                        Text  Word_Count
0          My name is Ujjwal           4
1  My brothers name is sajal           5
2                       mann           1

# Answer 5:
How are DataFrame.size() and DataFrame.shape() different?

df.size():Return the number of rows if Series. Otherwise return the number of
rows times number of columns if DataFrame.

In [60]:
df.size

6

df.shape():Return a tuple representing the dimensionality of the DataFrame.

In [61]:
df.shape

(3, 2)

# Answer 6:
Which function of pandas do we use to read an excel file?

df.read_excel() function is used to read excel file.

# Answer 7:
You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [62]:
def extract_username(df):
    # Define a function to extract the username from an email address
    def get_username(email):
        return email.split('@')[0]

    # Apply the get_username function to the 'Email' column and create a new 'Username' column
    df['Username'] = df['Email'].apply(get_username)

    return df
df = pd.DataFrame({'Email': ['john.doe@example.com', 'alice.smith@example.com', 'bob@gmail.com']})
df = extract_username(df)
df

                     Email     Username
0     john.doe@example.com     john.doe
1  alice.smith@example.com  alice.smith
2            bob@gmail.com          bob

In [63]:
def extract_username_from_email(df):
    # Use the str.split() method to split the 'Email' column on the '@' symbol and extract the first part (username)
    df['Username'] = df['Email'].str.split('@').str[0]    
    return df
df = pd.DataFrame({'Email': ['john.doe@example.com', 'alice.smith@example.com', 'bob_jones@example.com']})
df = extract_username_from_email(df)
df

                     Email     Username
0     john.doe@example.com     john.doe
1  alice.smith@example.com  alice.smith
2    bob_jones@example.com    bob_jones

# Answer 8:
You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:

A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

Your function should select the following rows: A B C

1 8 2 7

4 9 1 2

The function should return a new DataFrame that contains only the selected rows.

In [69]:
def func_new(df):
    df1=df[(df['A']>5)&(df['B']<10)]
    return df1
df=pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]})
new_df=func_new(df)
new_df

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

# Answer 9:
Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [84]:
df=pd.DataFrame({'Values':[1,2,3,4,5,6,7]})
def calc_mean_median_std(df):
    mean=df.mean()
    median=df.median()
    std_dev=df.std()
    print('Mean',mean)
    print('Median',median)
    print('standard deviation',std_dev)
calc_mean_median_std(df)
df

Mean Values    4.0
dtype: float64
Median Values    4.0
dtype: float64
standard deviation Values    2.160247
dtype: float64

   Values
0       1
1       2
2       3
3       4
4       5
5       6
6       7

# Answer 10:
Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [4]:
import pandas as pd

def calculate_moving_average(df):
    # Sort the DataFrame by the 'Date' column to ensure the rolling window works correctly
    df.sort_values(by='Date', inplace=True)

    # Calculate the moving average using a rolling window of size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

    return df

df = pd.DataFrame({
     'Date': ['2023-07-01', '2023-07-02', '2023-07-03'],  # List of dates
     'Sales': [100, 150, 200]  # List of sales values 
 })
df['Date'] = pd.to_datetime(df['Date'])  # Convert the 'Date' column to datetime if it's not already
df = calculate_moving_average(df)
df

        Date  Sales  MovingAverage
0 2023-07-01    100          100.0
1 2023-07-02    150          125.0
2 2023-07-03    200          150.0

# Answer 11:

You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

Your function should create the following DataFrame:

Date Weekday

0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

The function should return the modified DataFrame.

In [9]:
def weekdays(df):
    df['weekdays']=['Sunday','Monday','Tuesday','Wednesday','Thursday']
    return df
df=pd.DataFrame({'Date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']})
weekdays(df)
df

         Date   weekdays
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

# Answer 12:

Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [3]:
import pandas as pd

def select_rows_between_dates(df):
    # Convert the 'Date' column to datetime if it's not already
    df['Date'] = pd.to_datetime(df['Date'])

    # Define the start and end dates for the filter
    start_date = pd.to_datetime('2023-01-01')
    end_date = pd.to_datetime('2023-01-31')

    # Use boolean indexing to select rows between the start and end dates
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

    return selected_rows

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-15', '2023-02-01', '2023-01-10'],
                    'Value': [10, 20, 30, 40]})
df = select_rows_between_dates(df)
df

        Date  Value
0 2023-01-01     10
1 2023-01-15     20
3 2023-01-10     40

# Answer 13:
The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself. You can import pandas using the import statement in Python:

import pandas as pd