In [1]:
import pandas as pd

# Answer 1:

In [3]:
import pandas as pd

# Data
data = [4, 8, 15, 16, 23, 42]

# Create the Series
series_data = pd.Series(data)

# Print the Series
print(series_data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Answer 2:

In [4]:
# Data (list with 10 elements)
data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Create the Series
series_data = pd.Series(data_list)

# Print the Series
print(series_data)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Answer 3:

In [3]:
data={
    'Name':['Alice','Bob','Claire'],
    'Age':[25,30,27],
    'Gender':['Female','Male','Female']
}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Answer 4:
In Pandas, a DataFrame is a two-dimensional tabular data structure that can store data in rows and columns, similar to a spreadsheet or a SQL table. It is one of the most commonly used data structures in Pandas and is highly versatile for data manipulation and analysis. A DataFrame is capable of holding different data types and can handle missing data as well. It is a fundamental object for data analysis in Pandas.

On the other hand, a Pandas Series is a one-dimensional array-like data structure that can store a sequence of data values, similar to a Python list or NumPy array. The Series object has an associated index that labels each element in the Series. The index provides a way to access the data, and it can be of any data type, including integers, strings, or dates.

The main differences between a DataFrame and a Series are:

Dimensionality:
DataFrame: It is a two-dimensional data structure with rows and columns.
Series: It is a one-dimensional data structure with an associated index.
Number of dimensions:
DataFrame: It has two dimensions (rows and columns).
Series: It has only one dimension (rows or index).
Data structure:
DataFrame: It stores tabular data with rows and columns, where each column can have different data types.
Series: It stores a sequence of data values with an associated index.
Now, let's see an example to understand the difference between a DataFrame and a Series:

In [8]:
#answer 4:

# Creating a Pandas Series
data_series = pd.Series([10, 20, 30, 40, 50], index=['A', 'B', 'C', 'D', 'E'])

# Creating a Pandas DataFrame
data_dict = {
    'Name': ['John', 'Jane', 'Mike', 'Alice'],
    'Age': [28, 24, 22, 29],
    'City': ['New York', 'London', 'Sydney', 'Los Angeles']
}
data_df = pd.DataFrame(data_dict)

# Printing the Series and DataFrame
print("Series:")
print(data_series)

print("\nDataFrame:")
print(data_df)

Series:
A    10
B    20
C    30
D    40
E    50
dtype: int64

DataFrame:
    Name  Age         City
0   John   28     New York
1   Jane   24       London
2   Mike   22       Sydney
3  Alice   29  Los Angeles

# Answer 5:
Pandas is a powerful library in Python used for data manipulation and analysis. It provides various functions to manipulate data in a DataFrame. Here are some common functions you can use:
1. head() and tail(): These functions allow you to view the first few rows (head()) or the last few rows (tail()) of the DataFrame. They are useful for a quick glance at the data.
Example:

In [2]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
        'Age': [25, 32, 18, 47, 29],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']}
df = pd.DataFrame(data)

# View the first two rows
print(df.head(2))

# View the last two rows
print(df.tail(2))

    Name  Age      City
0  Alice   25  New York
1    Bob   32    London
    Name  Age    City
3  David   47   Tokyo
4    Eva   29  Sydney

2. shape: It gives you the dimensions (number of rows and columns) of the DataFrame.

In [3]:
# Assuming the same DataFrame 'df' from the previous example
print(df.shape)

(5, 3)

3. info(): Provides a concise summary of the DataFrame, including the data types, non-null values, and memory usage.

In [4]:
print(df.info(data))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes
None

4. describe(): Generates descriptive statistics for numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, quartiles, and maximum.

In [5]:
print(df.describe())

             Age
count   5.000000
mean   30.200000
std    10.756393
min    18.000000
25%    25.000000
50%    29.000000
75%    32.000000
max    47.000000

5. sort_values(): Sorts the DataFrame based on the values of one or more columns.

In [6]:
# Sorting the DataFrame by Age in ascending order
sorted_df = df.sort_values(by='Age')
print(sorted_df)

      Name  Age      City
2  Charlie   18     Paris
0    Alice   25  New York
4      Eva   29    Sydney
1      Bob   32    London
3    David   47     Tokyo

6. groupby(): Used for grouping rows based on unique values in one or more columns, allowing you to perform aggregate functions on these groups.

In [19]:
# Grouping by the 'City' column and calculating the average age for each city
grouped_df = df.groupby('Name')['Age'].mean()
print(grouped_df)

Name
Alice      25.0
Bob        32.0
Charlie    18.0
David      47.0
Eva        29.0
Name: Age, dtype: float64

7. drop(): Removes specified rows or columns from the DataFrame.

In [7]:
# Dropping the 'City' column from the DataFrame
df_without_city = df.drop(columns='City')
print(df_without_city)

      Name  Age
0    Alice   25
1      Bob   32
2  Charlie   18
3    David   47
4      Eva   29

8. fillna(): Fills missing values in the DataFrame with a specified value or using a specific method.

In [8]:
# Assuming 'df' has missing values in the 'Age' column
# Filling the missing values with the mean age
df['Age'] = df['Age'].fillna(df['Age'].mean())

# Answer 6:

Among the options provided (Series, DataFrame, Panel), both Series and DataFrame are mutable in nature, while Panel is not.

1. Series: A Series in Pandas is a one-dimensional labeled array and is mutable, meaning you can change the values of its elements after it is created. You can add, update, or delete elements in a Series.

In [9]:
# Creating a Series
s = pd.Series([1, 2, 3, 4, 5])

# Modifying the second element of the Series
s[1] = 10

print(s)

0     1
1    10
2     3
3     4
4     5
dtype: int64

2. DataFrame: A DataFrame in Pandas is a two-dimensional labeled data structure and is also mutable. You can modify its contents by adding or removing columns, updating values, or performing various operations on it.

In [10]:
# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}

df = pd.DataFrame(data)

# Modifying the 'Age' column
df['Age'] = [26, 32, 37]

print(df)

      Name  Age
0    Alice   26
1      Bob   32
2  Charlie   37

3. Panel: A Panel in Pandas was a three-dimensional data structure, but it has been deprecated since version 0.25.0, and the developers recommend using other data structures like DataFrame or MultiIndex DataFrame to handle similar scenarios.

# Answer 7:

In [11]:
# Creating Series for each column
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David', 'Eva'])
ages = pd.Series([25, 32, 18, 47, 29])
math_grades = pd.Series([90, 85, 70, 92, 88])
english_grades = pd.Series([88, 76, 92, 85, 90])

# Creating a dictionary using the Series
data = {
    'Name': names,
    'Age': ages,
    'Math': math_grades,
    'English': english_grades
}

# Creating the DataFrame using the dictionary
df = pd.DataFrame(data)

print(df)

      Name  Age  Math  English
0    Alice   25    90       88
1      Bob   32    85       76
2  Charlie   18    70       92
3    David   47    92       85
4      Eva   29    88       90