In [3]:
#answer1:
per=int(input("Enter the percentage:"))
if per > 90:
    print("A")
elif per >=80 and per <= 90:
    print("B")
elif per >=60 and per <= 80:
    print("C")
else:
    print("D")

Enter the percentage: 57

D

In [4]:
#answer2:
price=int(input("Enter the price :"))
if price > 100000:
    tax = price*0.15
elif price >= 50000 and price <= 100000:
    tax = price*0.1
elif price <= 50000:
    tax = price*0.05
print("your tax is :",tax)

Enter the price : 78000

your tax is : 7800.0

In [6]:
#answer3:
city=input("Enter the city name:")
if city.upper() == "DELHI":
    print("RED FORT")
elif city.upper() == "AGRA":
    print("TAJ MAHAL")
elif city.upper() == "JAIPUR":
    print("JAL MAHAL")

Enter the city name: delhi

RED FORT

In [7]:
"""
answer4:
While loop is used when we don't know how many times we have to do the iteration 
it goes on till the condition is satisfied.
"""
a=0
while a < 10:
    print(a)
    a+=1
"""In this example , while loop will run untill the a is less than 10 and when it
is equal to 10 it will stop."""

0
1
2
3
4
5
6
7
8
9

'In this example , while loop will run untill the a is less than 10 and when it\nis equal to 10 it will stop.'

In [8]:
#answer5:
#to print inverted triangle
a=10
while a >= 1:
    j=1
    while j <= a:
        print("*",end="")
        j=j+1
    a=a-1
    print()
#to print inverted mirrored triangle
n = int(input("Number of rows: "))
a = n
while a >= 1:
    b = 1
    while b <= n - a:
        print(" ", end=" ")
        b += 1
    b = 1
    while b <= a:
        print("*", end=" ")
        b += 1
    print()
    a -= 1
#program to print inverted pyramid
n = int(input("Number of rows: "))
a = n
while a >= 1:
    b = 1
    while b <= n - a:
        print(" ", end=" ")
        b += 1
    b = 1
    while b <= a:
        print("*", end=" ")
        b += 1
    j=1
    while j <= a-1:
        print("*",end=" ")
        j=j+1
    print()
    a -= 1

**********
*********
********
*******
******
*****
****
***
**
*

Number of rows:  7

* * * * * * *
  * * * * * *
    * * * * *
      * * * *
        * * *
          * *
            *

Number of rows:  9

* * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * *
    * * * * * * * * * * * * *
      * * * * * * * * * * *
        * * * * * * * * *
          * * * * * * *
            * * * * *
              * * *
                *

In [10]:
#Answer7:
i=10
while i+1 > 1:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [11]:
#Answer8:
i=10
while i+1 > 1:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1