# Answer 1 :
A database is a structured collection of data that is organized and stored in a computer system. It is designed to efficiently manage, store, and retrieve large amounts of data. Databases provide a way to organize, access, and modify data, making them essential for many applications and systems.

SQL Databases:
SQL (Structured Query Language) databases are based on the relational model and use structured query language (SQL) for managing and manipulating data. They are table-oriented and follow a predefined schema, which defines the structure and relationships between tables. SQL databases are typically used for structured data with well-defined relationships.

Key characteristics of SQL databases include:

Data Structure: SQL databases store data in structured tables with fixed columns and data types. The tables are related to each other through primary and foreign key constraints.

Schema: SQL databases have a predefined schema that specifies the structure of the database, including tables, columns, data types, and relationships.

ACID Compliance: SQL databases follow the ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring data integrity and transactional consistency.

Relational Query Language: SQL databases use SQL for querying and manipulating data. SQL provides a standardized syntax for performing operations like SELECT, INSERT, UPDATE, and DELETE.

Popular SQL databases include MySQL, PostgreSQL, Oracle Database, and Microsoft SQL Server.

NoSQL Databases:
NoSQL (Not Only SQL) databases are designed to handle unstructured and semi-structured data, offering more flexibility and scalability than SQL databases. They use various data models to organize data, such as key-value pairs, documents, columnar, or graph structures. NoSQL databases are often used for large-scale distributed systems and applications that require high performance and horizontal scalability.

Key characteristics of NoSQL databases include:

Data Structure: NoSQL databases offer different data models, such as key-value, document, columnar, or graph-based, allowing for flexible and dynamic schema design. They are schema-less or have a flexible schema.

Scalability: NoSQL databases are designed for scalability, allowing easy distribution of data across multiple servers or nodes. They are often used in distributed or cloud-based environments.

High Performance: NoSQL databases prioritize performance and can handle large volumes of data with high throughput and low latency.

Querying: NoSQL databases may use various query languages or APIs for data retrieval and manipulation. These languages are typically tailored to the specific data model or database system.

Popular NoSQL databases include MongoDB, Cassandra, Redis, Couchbase, and Neo4j.

# Answer 2 :
DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database, including creating, altering, and deleting database objects. DDL statements are used to define the schema and organization of the data within a database.

Here are some commonly used DDL statements:

CREATE:
The CREATE statement is used to create new database objects, such as tables, views, indexes, or schemas. It defines the structure and properties of the object being created. For example, to create a table named "Employees" with columns for employee ID, name, and department:

CREATE TABLE Employees (
    ID INT,
    Name VARCHAR(50),
    Department VARCHAR(50)
);

DROP:
The DROP statement is used to remove database objects, such as tables, views, or indexes. It permanently deletes the object and its associated data. For example, to drop the table "Employees":

DROP TABLE Employees;

ALTER:
The ALTER statement is used to modify the structure of existing database objects. It allows you to add, modify, or delete columns, constraints, or other properties of a table. For example, to add a new column "Salary" to the "Employees" table:

ALTER TABLE Employees
ADD Salary DECIMAL(10,2);

TRUNCATE:
The TRUNCATE statement is used to remove all rows from a table while preserving the structure and properties of the table. It is faster than the DELETE statement, as it removes all data in one operation without generating individual undo logs for each row. For example, to truncate the table "Employees":

TRUNCATE TABLE Employees;

# Answer 3:
DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that is used to manipulate and manage the data within a database. DML statements are used to insert, update, and delete data in database tables.

Here are some commonly used DML statements:

INSERT:
The INSERT statement is used to add new rows of data into a table. It allows you to specify the values to be inserted for each column or use a query to select data from another table and insert it into the target table. For example, to insert a new employee record into the "Employees" table

INSERT INTO Employees 
VALUES (1, 'John Doe', 'HR');

UPDATE:
The UPDATE statement is used to modify existing data in a table. It allows you to update specific columns with new values based on specified conditions. For example, to update the department of an employee with ID 1 in the "Employees" table:

UPDATE Employees
SET Department = 'Marketing'
WHERE ID = 1;

DELETE:
The DELETE statement is used to remove specific rows of data from a table. It allows you to delete rows based on specified conditions. For example, to delete all employees in the "Employees" table who belong to the 'HR' department:


DELETE FROM Employees
WHERE Department = 'HR';

# Answer 4:
DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used to query and retrieve data from a database. DQL statements, primarily the SELECT statement, are used to retrieve specific data from one or more tables in a database.

The SELECT statement is used to retrieve data from a table or multiple tables in a database. It allows you to specify the columns you want to retrieve, apply filtering conditions, perform calculations, and sort the results.The basic syntax of the SELECT statement is

SELECT column1, column2, ...
FROM table
WHERE condition
ORDER BY column;

Suppose we have a table named "Employees" with columns "ID", "Name", "Department", and "Salary". We want to retrieve the names and salaries of employees whose salaries are greater than 5000.

SELECT Name, Salary
FROM Employees
WHERE Salary > 5000;

You can also use additional clauses with the SELECT statement, such as:

ORDER BY: To sort the results based on one or more columns. For example, to sort the result by salary in descending order:

SELECT Name, Salary
FROM Employees
WHERE Salary > 5000
ORDER BY Salary DESC;

GROUP BY: To group the results based on one or more columns. This is often used in conjunction with aggregate functions like SUM, AVG, COUNT, etc.

HAVING: To apply filtering conditions on grouped results.

These clauses provide additional functionality to the SELECT statement, allowing you to retrieve and manipulate data based on specific requirements.

# Answer 5:
Primary Key:
A primary key is a column or a set of columns in a database table that uniquely identifies each record in that table. It serves as a unique identifier for each row, ensuring data integrity and facilitating efficient data retrieval and referencing. Here are some key characteristics of a primary key:

Uniqueness: A primary key must contain unique values for each record in the table. No two rows can have the same primary key value.

Non-nullability: A primary key column cannot contain null values. Each record must have a valid value for the primary key.

Stability: The value of a primary key should be stable and not subject to frequent changes. It should uniquely identify a record throughout its lifecycle.

Single-Column or Composite Key: A primary key can be a single column or a combination of multiple columns, forming a composite key.

Foreign Key:
A foreign key is a column or a set of columns in a database table that establishes a link or relationship between two tables. It references the primary key of another table, creating a connection between the two tables based on the values stored in these columns. The purpose of a foreign key is to maintain referential integrity and enforce relationships between related tables. Here are some key characteristics of a foreign key:

References Primary Key: A foreign key references the primary key column(s) of another table. It establishes a relationship between the foreign key column and the referenced primary key.

Relationship Enforcement: A foreign key ensures that the values in the referencing column(s) exist in the referenced primary key column(s). It prevents the creation of orphaned or inconsistent data.

Cascading Actions: Foreign keys can be configured to perform cascading actions, such as cascading updates or deletes, which automatically propagate changes made to the referenced primary key to the referencing foreign key.

# Answer 6:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM test")

results = mycursor.fetchall()

for i in results:
  print(row)

mydb.close()

# Answer 7:
The order of execution of SQL clauses in an SQL query follows a specific sequence:

FROM: The FROM clause specifies the table(s) from which the data will be retrieved. It is the first clause in the order of execution.

WHERE: The WHERE clause filters the rows based on specified conditions. It narrows down the data based on the specified criteria.

GROUP BY: The GROUP BY clause groups the rows based on one or more columns. It is used in conjunction with aggregate functions like SUM, AVG, COUNT, etc., to perform calculations on grouped data.

HAVING: The HAVING clause filters the groups produced by the GROUP BY clause. It allows filtering based on aggregate function results.

SELECT: The SELECT clause determines the columns to be retrieved from the table(s). It specifies the desired fields or expressions to be included in the query result set.

DISTINCT: The DISTINCT keyword eliminates duplicate rows from the result set.

ORDER BY: The ORDER BY clause sorts the result set based on specified column(s) in ascending (default) or descending order.

LIMIT/OFFSET: The LIMIT/OFFSET clauses are used to restrict the number of rows returned or to skip a certain number of rows. They are commonly used for pagination purposes.